<form action="/msgr/chatrooms_list" method="post">
    <div class="input-group mb-3">
    <input type="text" name="room_search" class="form-control" placeholder="Room name" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Join</button>
        </div>
    </div>
</form>

<div class="card-deck text-center">

    <% @chatrooms.each do |room| %>
        <div class="col-sm-4">
            <div class="card" style="margin-bottom: 40px">
                <a href="chatroom/<%= room.chatroom_id.to_s %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= room.chatroom.room_name %></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p><%= room.updated_at %></p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div> 
    <% end %>

</div>

<div class="fixed-bottom">
    <form action="/msgr/chatrooms_list/create" method="post">
        <button type="submit" class="btn btn-outline-success" style="width: 100%">Create Room</button>
    </form>
</div>