<h1>CHATROOM LIST HTML</h1>

<% @chatrooms.each do |room| %>
    <div class="mx-auto input-box col-sm-12 col-md-11 col-lg-10">
    <a href="chatroom/<%= room.chatroom_id.to_s %>">
        <div class="card bg-dark text-white">
        <img src="https://www.placecage.com/300/100" class="card-img" alt="...">
        <div class="card-img-overlay d-flex">
            <h2 class="my-auto card-title align-items-center d-flex justify-content-center"><%= room.chatroom.room_name %></h2>
        </div>
        </div>
    </a>
    </div>
<% end %>