<h1>CHATROOM LIST HTML</h1>

<a class="btn btn-success" href="chatroomid">To Chatroom 1</a>
<a class="btn btn-success" href="chatroomid">To Chatroom 2</a>
<a class="btn btn-success" href="chatroomid">To Chatroom 3</a>