<form action="/msgr/friends_list/add" method="post">
    <div class="input-group mb-3">
    <input type="text" name="add_friend_username" class="form-control" placeholder="Friend's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit" id="button-addon2">Add</button>
        </div>
    </div>
</form>

<div class="card-deck text-center">

    <% @friends.each do |friend| %>
        <div class="col-sm-4">
            <a href="">
                <div class="card" style="margin-bottom: 40px">
                    <img src="https://www.placecage.com/g/50/50" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= friend["username"] %></h5>
                        <p class="card-text"><%= friend["age"] %>/S/L</p>
                    </div>
                </div>
            </a>
        </div> 
    <% end %>

</div>