<h1>LOGIN HTML</h1>

<div class="m-auto text-center card" style="width: 18rem;">
    <img src="https://www.placecage.com/200/100" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">MSGR</h5>
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Username</label>
                <input type="string" class="form-control" id="input_username" placeholder="Username">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <input type="password" class="form-control" id="input_password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Login</button>
        </form>
    </div>
</div>

<a class="btn btn-success" href="msgr/splash">To Splash</a>