<div class="container">

  <div class="row">
    <div class="mx-auto input-box col-sm-12 col-md-11 col-lg-10">
      <a href="profile">
        <div class="card bg-dark text-white">
          <img src="https://www.placecage.com/300/70" class="card-img" alt="...">
          <div class="card-img-overlay d-flex">
            <h2 class="my-auto card-title align-items-center d-flex justify-content-center"><%= @logged_in_user.username %></h2>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto input-box col-sm-12 col-md-11 col-lg-10">
      <a href="friends_list">
        <div class="card bg-dark text-white">
          <img src="https://www.placecage.com/300/70" class="card-img" alt="...">
          <div class="card-img-overlay d-flex">
            <h2 class="my-auto card-title align-items-center d-flex justify-content-center">Friends</h2>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto input-box col-sm-12 col-md-11 col-lg-10">
      <a href="chatrooms_list">
        <div class="card bg-dark text-white">
          <img src="https://www.placecage.com/300/70" class="card-img" alt="...">
          <div class="card-img-overlay d-flex">
            <h2 class="my-auto card-title align-items-center d-flex justify-content-center">Chat</h2>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>