<h1>SPLASH HTML</h1>

<a class="btn btn-success" href="friends_list">To Friends</a>
<a class="btn btn-success" href="chatrooms_list">To Chatrooms</a>
<a class="btn btn-success" href="profile">To Profile</a>